<!DOCTYPE html>
<html lang="ru" style="display: none">
<head>
    <meta charset="UTF-8"/>

    <!-- Скрпиты -->
    <script src="./js/renderer.js"></script>
    <script src="./js/howler.min.js"></script>
    <script src="./js/colors.js"></script>

    <!-- Cтили -->
    <link href="./css/globals.css" rel="stylesheet">
    <link href="./css/animate.min.css" rel="stylesheet">

    <script src="./js/FrogConfig.js"></script>
    <script src="./js/FrogTranslator.js"></script>
    <script>FrogTranslator.loadCurrentLanguageToGlobalVariable()</script>

    <script src="./js/FrogAccountsManager.js"></script>
    <script src="./js/FrogAccountsUI.js"></script>
    <script src="./js/FrogAlerts.js"></script>
    <script src="./js/FrogAssets.js"></script>
    <script src="./js/FrogCollector.js"></script>
    <script src="./js/FrogDownloader.js"></script>
    <script src="./js/FrogErrorsParser.js"></script>
    <script src="./js/FrogElybyManager.js"></script>
    <script src="./js/FrogFlyout.js"></script>
    <script src="./js/FrogJavaManager.js"></script>
    <script src="./js/FrogLaunchConfigurator.js"></script>
    <script src="./js/FrogModals.js"></script>
    <script src="./js/FrogModsUpdater.js"></script>
    <script src="./js/FrogNews.js"></script>
    <script src="./js/FrogPacks.js"></script>
    <script src="./js/FrogPacksUI.js"></script>
    <script src="./js/FrogServersUI.js"></script>
    <script src="./js/FrogStarter.js"></script>
    <script src="./js/FrogTests.js"></script>
    <script src="./js/FrogThemes.js"></script>
    <script src="./js/FrogToasts.js"></script>
    <script src="./js/FrogUtils.js"></script>
    <script src="./js/FrogUI.js"></script>
    <script src="./js/FrogUpdater.js"></script>
    <script src="./js/FrogVersionsManager.js"></script>
    <script src="./js/FrogVersionsUI.js"></script>

    <title>FrogLauncher</title>
</head>

<body class="global-wrapper">
<!-- Фон -->
<div class="background img"></div>

<!-- Анимация запуска -->
<%- include('views/startAnimation'); %>

<!-- Главный контент -->
<div class="layout hide-on-loading">
    <!-- Заголовок окна -->
    <%- include('views/titleWrapped'); %>

    <!-- Flymenu (sidebar) -->
    <%- include('views/flymenu'); %>

    <!-- Основной контент лаунчера -->
    <div class="content">
        <!-- Модальные окна НАЧАЛО-->
        <%- include('modals/settings'); %>
        <%- include('modals/changelog'); %>
        <%- include('modals/packsAndMods'); %>
        <%- include('modals/servers'); %>
        <%- include('modals/accounts'); %>
        <%- include('modals/versions'); %>
        <%- include('modals/elybyLogin'); %>
        <!-- Модальные окна КОНЕЦ-->

        <div class="content-inner animate__animated animate__zoomIn animate__faster">
            <%- include('views/news'); %>
            <%- include('views/versionsPosters'); %>
        </div>
    </div>

    <!-- Флайаут (нижняя панель) -->
    <%- include('views/flyout'); %>

    <!-- Пул для уведомлений -->
    <div id="toasts-pool"></div>

    <!-- Уведомление об обновлении -->
    <div class="update-notify" style="display: none">
        <div class="flex flex-center flex-gap-4">
            <span class="material-symbols-outlined">update</span>
            <span class="caption">{{updater.available}}</span>
        </div>
        <span class="description">{{updater.ready}}</span>
        <div class="flex flex-gap-8 flex-align-center">
            <button class="pill small" style="display: none" onclick="FrogUpdater.installUpdate()">{{commons.install}}</button>
            <button class="transparent pill small"
                    onclick="openExternal('https://github.com/Seeroy/FrogLauncher2/releases/latest')">
                <div class="link">
                    <span class="material-symbols-outlined">open_in_new</span>
                    <span>{{updater.changelog}}</span>
                </div>
            </button>
        </div>
    </div>
</div>
</body>
</html>
<script>
    FrogCollector.setupLogHijacking();
    FrogCollector.writeLog("Launcher started at", Date.now());

    // Обновления и сбор статистики
    if (!global.IS_APP_IN_DEV) {
        FrogUpdater.bindUpdate();
        FrogCollector.collectAndSendStats();
    } else {
        FrogCollector.writeLog("DEVMODE: No updated and stats");
    }

    // Инициализация темы
    let currentThemeData = FrogConfig.read("theme");
    let loadedThemeData = {};
    FrogThemes.changeTheme(false, false);
    FrogThemes.changeWallpaper(FrogConfig.read("currentWallpaper", "1"));
    FrogCollector.writeLog("Theme initialized");

    // Создание директорию для игры
    FrogUtils.createMissingDirectories(global.DOT_MC_PATH);
    global.GAME_DATA = FrogConfig.read("gameDirectory", global.DOT_MC_PATH);

    // Инициализация менеджера Java
    FrogJavaManager.init();
    FrogCollector.writeLog("JavaManager initialized");

    // Настраиваем кнопку для сбора debug data
    $(document).keyup((e) => {
        if (e.originalEvent.code === "F12") {
            FrogCollector.collectDebugData();
        }
    })

    $(function () {
        if (FrogConfig.read("disableAnimations", false) === true) {
            $("html").addClass("noAnimations");
        }

        if (FrogConfig.read("disableCssEffects", false) === true) {
            $("html").addClass("noEffects");
        }

        if (!global.IS_APP_IN_DEV) {
            // Запустить загрузочную анимацию
            FrogUI.startLoadScreenAnimation();
            // Показываем окно
            $("html").addClass("animate__animated animate__fadeIn animate__fast");
            FrogCollector.writeLog("Started animation");
        } else {
            // Отключить все эффекты для максимально быстрого запуска
            $(".hide-on-loading").removeClass("hide-on-loading");
            $(".loading-screen").hide();
            FrogCollector.writeLog("DEVMODE: No start animation");
        }

        setTimeout(() => {
            // Переводим все ноды в DOM
            FrogTranslator.translateAllNodes();
        }, 700);

        $("html").show();

        // Загружаем список аккаунтов
        FrogAccountsUI.reloadAccountsManager();
        FrogAccountsUI.reloadAccountSelect();

        // Загружаем список версий
        FrogVersionsUI.loadVersions();

        // Загружаем новости
        FrogNews.loadNewsToUI();

        // Загружаем сервера
        FrogServersUI.loadList();

        // Отправляем ipc о готовности лаунчера
        ipcRenderer.send("launcher-ready");
        FrogCollector.writeLog("IPC: Launcher ready");

        // Начинаем тестирование
        if (global.IS_APP_IN_TEST) {
            FrogCollector.writeLog("TESTMODE: Starting tests");
            FrogFlyout.setUIStartMode(true);
            FrogFlyout.changeMode("spinner").then(() => {
                FrogFlyout.setText("Начинается тестирование");
            })
            FrogTests.startTest(4);
        }
    })
</script>